/* Fonts in webpage */  
@font-face {
  font-family: "Nekst-Black"; 
  src: url("FontsFree-Net-Nekst-Black.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
  }

@font-face {
    font-family: "Gilroy-Light"; 
    src: url("Gilroy-Light.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
  }

/* Content(3 blocks) */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding: 0 48px;
}

/* Big block(of 3 blocks in a container) */
.block {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

/* Big h1 title above all elements in the content */
.title, .submit-text {
  max-width: 753px;
  font-size: 54px;
  line-height: 48.6px;
  margin-bottom: 32px;
  font-family: 'Nekst-Black', 'Arial', sans-serif;
}

/* 2nd block, a.k.a. Inputs */
.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  margin-bottom: 51px;
}

/* Input slider-boxes with titles */
.input-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 430px;
}

/* The value we input */
.input-value {
  display: flex;
  font-family: 'Nekst-Black', 'Arial', sans-serif;
  color: #575757;
  font-size: 30px;
  font-weight: 900px;
  line-height: 36px;
}

/* Input slider boxes */
.range-box {
  position: relative;
  background-color: #F3F3F4;
  padding: 16px 24px;
  border-radius: 16px;
  width: 427px;
  height: 68px;
}

/* Titles of each slider-boxes */
.input-title, .summary-title{
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 24px;
  line-height: 20px;
  font-family: 'Gilroy-Light', 'Arial', sans-serif;
  color: #575757;
}

/*********** Baseline, reset styles ***********/
.range {
  position: absolute;
  bottom: 0px;
  left: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 379px;
}

/* Removes default focus */
.range:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.range::-webkit-slider-runnable-track {
  background-color: #ff9514;
  border-radius: 12rem;
  height: 2px;
}

/* slider thumb */
.range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -9px; /* Centers thumb on the track */
  background-color: #ff9514;
  border-radius: 12px;
  height: 20px;
  width: 20px;
}

.range:focus::-webkit-slider-thumb {
  outline: 3px solid #ff9514;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.range::-moz-range-track {
  background-color: #ff9514;
  border-radius: 12rem;
  height: 2px;
}

/* slider thumb */
.range::-moz-range-thumb {
  background-color: #ff9514;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 12px;
  height: 20px;
  width: 20px;
}

.range:focus::-moz-range-thumb{
  outline: 3px solid #ff9514;
  outline-offset: 0.125rem;
}
/* Third block, a.k.a. Outputs and a button */
.summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.summary-wrapper {
  width: 450px;
}
/*.summary-wrapper:nth-child(2) {
  background-color: red;
}*/
.summary-wrapper:last-child {
  align-self: center;
}
.summary-title {
  line-height: 24px;
  margin-bottom: 8px;
}
.submit {
    background-color: #FF9514;
    color: white;
    cursor: pointer;
    width: 427px;
    height: 64px;
    padding: 14px;
    border-radius: 40px;
    font-size: 30px;
    font-family: 'Nekst-Black', 'Arial', sans-serif;
}

.submit:hover {
  background-color: #111111;
}

/*@media (min-width: 320px) and (max-width: 479px){
  .title{
    color: red;
  } 
}

@media (min-width: 480px) and (max-width: 767px){ 
  .title{
    color: green;
  } 
 }

@media only screen and (min-width: 768px) and (max-width: 991px){
  .title{
    color: blue;
  } 
}*/

.summary-wrapper, .input-wrapper {
  width: 450px;
}

.currency {
  margin-left: auto;
}

.percentage-box {
  margin-top: -9px;
  margin-left: auto;
  background-color: #EBEBEC;
  border-radius: 16px;
  width: 68px;
  height: 54px;
  padding: 7px 7px;
}

@media only screen and (max-width: 1120px){
  .container {
    justify-content: flex-start;
    padding-top: 212px;
  } 
  .inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 51px;
  }
 }

@media only screen and (max-width: 768px){
  .container {
    justify-content: flex-start;
    padding-top: 64px;
  } 
 }

 @media only screen and (max-width: 320px){
  .container {
    justify-content: flex-start;
    padding-top: 44px;
  } 
 }